<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--数据源配置 -->
<!--<properties resource="src/jdbc.properties"/>-->

<environments default="development">
    <environment id="development">
        <transactionManager type="jdbc" />
        <dataSource type="POOLED">
            <!--<property name="driver" value="${jdbc.driver}"/>-->
            <!--<property name="url" value="${jdbc.url}"/>-->
            <!--<property name="username" value="${jdbc.username}"/>-->
            <!--<property name="password" value="${jdbc.password}"/>-->
            <property name="driver" value="com.mysql.jdbc.Driver" />
            <property name="url" value="jdbc:mysql://47.106.149.105:3306/happybirthday" />
            <!--<property name="url" value="jdbc:mysql://47.106.149.105:3306/zjb" />-->
            <property name="username" value="root" />
            <property name="password" value="123" />
        </dataSource>
    </environment>
</environments>

<mappers>
    <mapper resource="userServerMapper.xml" />
</mappers>
</configuration>


